* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ryzes";
  src: url("Ryzes.ttf");
}
html,
body {
  font-family: "ryzes";
  color: #ffee00;
  background-color: #000;
  width: 100%;
  height: 100%;
}
a {
  color: gray;
  transition: all 0.3s ease;
}
